@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Epilogue" ,sans-serif;
}

header{
    background-color: rgb(92, 150, 172);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

header a{
    text-decoration: none;
    color: rgb(247, 247, 247);
    margin-right: auto;
}

header nav{
    margin-right: 50px;
}

header nav ul{
    display: flex;
}

header nav ul li{
    margin: 6px;
    list-style: none;
}

footer{
    background-color: rgb(92, 150, 172);
    height: 150px;
    text-align: center;
    padding-top: 5px;
    margin-top: 20px;
    bottom: 0px;
}

footer h4,footer h6{
    color: rgb(247, 247, 247);
}

footer img{
    width:  30px;
    margin: 5px;
}